# Generic important files
*.mod                    @Kalkalash @AngriestBird @crocomoth @ShirkavandDev @KianGhk1530 @MrP0tter @Blazer135 @TemplarGeneral
/CONTRIBUTING.md         @Kalkalash @AngriestBird @crocomoth @ShirkavandDev @KianGhk1530 @MrP0tter @Blazer135 @TemplarGeneral
/README.md               @Kalkalash @AngriestBird @crocomoth @ShirkavandDev @KianGhk1530 @MrP0tter @Blazer135 @TemplarGeneral
/LICENSE                 @Kalkalash @AngriestBird

# Map changes
/map/                    @AngriestBird @Kalkalash @KianGhk1530 @lugdunum1715 @TemplarGeneral @MrP0tter @crocomoth

# Defines
/common/defines/         @AngriestBird @crocomoth @KianGhk1530 @MrP0tter @Kalkalash @Blazer135 @TemplarGeneral

# Git configurations
/.gitignore              @AngriestBird @Kalkalash @KianGhk1530 @Blazer135 @crocomoth @TemplarGeneral @MrP0tter
/.gitattributes          @AngriestBird @Kalkalash @KianGhk1530 @Blazer135 @crocomoth @TemplarGeneral @MrP0tter
/.github/                @AngriestBird @Kalkalash @KianGhk1530 @Blazer135 @crocomoth @TemplarGeneral @MrP0tter

# Tools
/tools/                  @AngriestBird @Kalkalash @KianGhk1530 @Blazer135 @crocomoth @TemplarGeneral @MrP0tter

# Pre-commit
/.pre-commit-config.yaml @AngriestBird

# CODEOWNERS
/CODEOWNERS              @AngriestBird @Kalkalash @KianGhk1530 @crocomoth

# Bug Bot
/docs/src/content/pages/bug-bot-privacy.md @AngriestBird
/docs/src/content/pages/bug-bot-terms.md @AngriestBird
